$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

// Duration of each half (exit and enter) of a section view transition
$sectionTransitionDuration: 400ms;

$primaryColor: #fed136;

$hoverOpacity: 0.6;
$hoverTransition: 200ms;
